/* Style for #product */
/*
#product{
    display: grid;
    grid-template-rows: 6em 1fr 5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'name name' 'img list' 'desc desc';
}

#name{
    grid-area: name;
    justify-self: center;
    align-self: center;
}

#proImg{
    grid-area: img;
    justify-self: center;
    align-self: center;
}

#list{
    grid-area: list;
    
    align-self: center;
}

#desc{
    grid-area: desc;
    justify-self: center;
    align-self: center;
}

/* Style for #review and #qAndA */
/*
#review, #qAndA{
    display: flex;
    flex-direction: column;
    align-items: center;


form{
    text-align: center;
}
*/
#st1, #st2, #st3, #st4, #st5{
    cursor: pointer !important;
}

.answerForm{
    display: none;
}

